<% if @game.current_turn == @game.player_1 %>
<h1 style="color:red;" align = center ><%= @game.player_1.name%> attacked <%= @game.player_2.name%></h1>
<% else %>
<h1 style="color:red;" align = center ><%= @game.player_2.name%> attacked <%= @game.player_1.name%></h1>
<% end %>
</br>
<p align = center ><img src="https://www.mobygames.com/images/shots/l/3022-mortal-kombat-ii-dos-screenshot-kung-lao-hurls-scorpion.gif" alt="Streetfight KO">
<form action="/switch-turns" method="post">
<p align = center ><input type="submit" value="OK">
</form>
