<h1 style="color:red;" align = center ><%= @game.player_1.name%> attacked <%= @game.player_2.name%></h1>
</br>
<p align = center ><img src="https://img1.svg.com/img/gallery/the-absolute-best-fatalities-in-every-mortal-kombat-game/intro-1549741813.jpg" alt="Streetfight KO">
<p align = center ><a href="/play">OK</a>
