<h1 style="color:red;" align = center ><%= @game.loser.name %> loses! </h1>
</br>
<p align = center ><img src="https://www.mobygames.com/images/shots/l/3027-mortal-kombat-ii-dos-screenshot-kung-lao-defeats-liu-kang-with.gif" alt="Fatality">
