<h1><p align = center >Battle!</h1>
<h2><p align = center >Sign in to play</h2>
<form action="names" method="post">
  <label for="player_1_name">
<p align = center >Player 1 name
<p align = center ><input type="text" name="player_1_name">
  </label>
  <label for="player_2_name">
<p align = center >Player 2 name
<p align = center ><input type="text" name="player_2_name">
  </label>
<p align = center ><input type="submit" value="Submit">
</form>
