<p align = center ><%= @player_1_name %> vs. <%= @player_2_name %>
</b>
<p align = center ><%= @player_2_name %>: <%= $player_2.hit_points %>HP
<form action="/attack">
<p align = center ><input type="submit" value="Attack">
</form>
